@import 'bootstrap.min.css';
@import 'font-awesome.min.css';
/* @import 'bootstrap-theme.min.css'; */

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
footer {
  padding: 30px 0;
}

.jumbotron {
  margin-bottom: 0;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;

list-style: none;
margin: 0;
padding: 0;
display: -webkit-flex; /* NEW */
display: flex;
-webkit-flex-wrap: wrap; /* NEW */
flex-wrap: wrap;
font-family: "Open Sans";
}

.thumbnail {
  height: 100%;
}

.wrestler-item {
  margin-top:10px;
  margin-bottom:10px;
}

.pagination li {
  display:inline-block;
  padding:5px;
}

.awesomplete {
  display: block !important;
}

div.awesomplete>ul {
  z-index: 10;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type='text'],
input[type='number'],
input[type='email'],
input#search,
textarea,
.contact-name,
.contact-email,
.contact-message {
  font-size: 16px !important;
}

::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

.list-subscribe {
  margin-bottom: 20px;
}

.body-container {
  min-height: 550px;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url(/img/jumbotron-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.jumbotron h1 {
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.7);
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

  .button-group-responsive {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .button-group-responsive > .btn {
    position: relative;
    float: left;
  }

  .button-group-responsive > .btn:hover,
  .button-group-responsive > .btn:focus,
  .button-group-responsive > .btn:active,
  .button-group-responsive > .btn.active {
    z-index: 2;
  }

  .button-group-responsive > .btn,
  .button-group-responsive > .btn-group,
  .button-group-responsive > .btn-group > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .button-group-responsive > .btn-group > .btn {
    float: none;
  }
  .button-group-responsive > .btn + .btn,
  .button-group-responsive > .btn + .btn-group,
  .button-group-responsive > .btn-group + .btn,
  .button-group-responsive > .btn-group + .btn-group {
    margin-top: -1px;
    margin-left: 0;
  }
  .button-group-responsive > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .button-group-responsive > .btn:first-child:not(:last-child) {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .button-group-responsive > .btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .button-group-responsive > .btn-group:not(:first-child):not(:last-child) > .btn {
    border-radius: 0;
  }
  .button-group-responsive > .btn-group:first-child:not(:last-child) > .btn:last-child,
  .button-group-responsive > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .button-group-responsive > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

}

.ad {
  margin: 0px 0px 10px 0px;
}

.ad-frame {
  display:block !important;
  border: 0px;
  overflow: hidden;
  background-color: transparent;
}

#ad-MEGA .chitikaAdBlock {
  width: auto;
}

#choose-stars {

}

#choose-stars a {
  padding: 0 1px;
  cursor: pointer;
  color: #FFD119;
  text-decoration: none;
}

.swiper-pagination-bullet {
  border: 1px solid white;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.panel-heading-link {
  padding: 0;
}

.panel-heading-link > .panel-title > a {
  display: block;
  padding: 10px 15px;
  color: #337ab7;
}

.panel-heading-link > .panel-title > a:hover,
.panel-heading-link > .panel-title > a:focus {
  color: #000;
  text-decoration: none;
}
